.walletCard {
    @apply bg-white p-0 rounded-lg shadow-lg w-full max-w-md mx-auto;
    
    @media (max-width: 640px) {
      padding: 4;
      max-width: 100%;
    }
  }
  
  .buttonGroup {
    display: grid;
    grid-template-columns: 1fr 1fr; // Dos columnas
    gap: 1rem;
  
    @media (max-width: 640px) {
      grid-template-columns: 1fr; // Una columna en pantallas pequeñas
    }
  }
  
  .walletButton {
    @apply bg-pxo-teal text-white py-2 px-4 rounded-lg;
    width: 100%; // Ocupa el ancho completo de la columna
  }
  